.cst-icon {
    height: 16px;
    width: 16px;
    outline: none;
    border: none;
}

.cst-icon-global {
    width: 22px;
    height: 22px;
    background: url("../public/m/global.svg") no-repeat;
}
